<%
let objOrdre = {
	"_id" : 'asc',
	"prenom" : 'asc',
	"nom" : 'asc',
	"telephone" : 'asc',
	"courriel" : 'asc'
}

if(locals.cle){
	objOrdre[cle] = ordre;
}

%>
<div id="containerTableau">
    <table class="tableau">
    	<tr>
    		<th id="idCell"><a href='/trier/_id/<%= objOrdre._id %>'><%= __("Id") %></a></th>
    		<th id="prenomCell"><a href='/trier/prenom/<%= objOrdre.prenom %>'><%= __("prenom") %></a></th> 
    		<th id="nomCell"><a href='/trier/nom/<%= objOrdre.nom %>'><%= __("nom") %></a></th>
    		<th id="telCell"><a href='/trier/telephone/<%= objOrdre.telephone %>'><%= __("telephone") %></a></th>
            <th id="courrielCell"><a href='/trier/courriel/<%= objOrdre.courriel %>'><%= __("courriel") %></a></th>
    		<th colspan="3"><a href="/ajouter"><i id="ajouter" class="fas fa-plus-circle"></i></a></th>
    	</tr>
        <tr>
        <% let noLigne = 0 %> 
        <% for (elm of adresses) { %>  
            <% for (p in elm) { %>
                <% if (noLigne == 0){ %>
                    <td class="<%= p %>" ><%= elm[p] %></td>

                <% } else {%>
                    <td class="<%= p %>" contenteditable='true'><%= elm[p] %></td>

                <% } %>
                <% noLigne++ %>
            <% } %>
                        <td><a href="/detruire/<%= elm._id %>"><i id="supprimer" class="fas fa-trash-alt"></i></a></td>
                        <td><a class='modifier' href="#"><i id="modifier" class="fas fa-save"></i></a></td>
                        <td><a href="/profil/<%= elm._id %>"><i id="modifier" class="fas fa-user"></i></i></a></td>
            </tr>
        <% } %>
    </table>
</div>