<header class='entete'>
	<h1><%= __("titreSite") %></h1>
	<nav> 
		<ul>
			<li><a href='/'><i class="fas fa-home menu"></i></i><%= __("accueil") %></a></li>
			<li><a href='/adresses'><i class="fas fa-address-book menu"></i></i><%= __("adresses") %></a></li>
			<li><a href='/peupler'><i class="fa fa fa-users menu" aria-hidden="true"></i><%= __("peuplement") %></a></li>
			<li><a href='/vider'><i class="fas fa-trash-alt menu"></i></i><%= __("vider") %></a></li>
		</ul>
		<% if (getLocale() == 'fr'){ %>
			<a class="langue" href='/en'>EN</a>
		<% } else { %>
			<a class="langue" href='/fr'>FR</a>
		<% } %>
	</nav> 
</header>