	<%- include('composants/head') %> 
	<body>
		<%- include('composants/entete') %>
		<section class='principal'>
			<h2><%= __("accueil") %></h2>
			<div>
				<h3><%= __("bienvenue") %>!</h3>
				<p><%= __("pAccueil") %></p>
				<p><%= __("bonneVisite") %>!</p>
			<div>
		</section>
		<%- include('composants/footer') %>
	</body>
</html>