	<%- include('composants/head') %> 
	<body>
		<%- include('composants/entete') %>
		<section class='principal'>
			<h2><%= __("titreListe") %></h2>
			<%- include('composants/form_post') %>
			<%- include('composants/recherche') %>
			<%- include('composants/adr') %>
		</section>
		<%- include('composants/footer') %>
	</body>
</html>